/*comment in css*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*backgroud image*/
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/ford.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;    
}


body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: transparent;
    border-radius: 5px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 250px;
    height: auto;
    transition: transform .2s;
}

.logo img:hover{
    transform: scale(1.2); /* (120% zoom)*/
  }

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    font-size: 120px;
    font-family: algerian;
    font-weight: 900;
    text-decoration: none;
    background: linear-gradient(to right, #fff 50%, #cdf0ff 50%, #b9ebff);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    text-align: center;
    white-space: wrap;
   }
   
.title h1:hover{
background-position: -100%;
}
