/*comment in css*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*backgroud image*/
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/bgimage2.jpg);
    height: 200vh;
    background-size: cover;
    background-position: center;   
    background-attachment: fixed;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: transparent;
    border-radius: 5px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 15vw;
    height: auto;
    transition: transform .2s;
}

.logo img:hover{
    transform: scale(1.2); /* (120% zoom)*/
}

.tue_video video{
    width: 50%;
    height:50%;
    top:60%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.sat_video video{
    width: 50%;
    height: 50%; 
    top:120%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}